/* Appointment Form Styles */
fieldset {
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--b3));
  padding: 1.25rem;
  background-color: hsl(var(--b2)) / 0.2;
}

legend {
  margin-left: -0.5rem;
  padding: 0 0.5rem;
}
