<div class="p-8 w-full">
  <div class="card bg-base-100 shadow-sm border border-base-300">
    <div class="card-body">
      <div class="flex items-center gap-2">
        <button
          class="btn btn-ghost btn-circle btn-sm"
          type="button"
          (click)="onCancel()"
        >
          <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <h3 class="card-title text-2xl text-base-content">
          Appointment Registration
        </h3>
      </div>
      <p class="text-base-content/60 mb-4">
        Create a new appointment by completing the clinical scheduling details
        below.
      </p>

      <app-appointment-form
        (formSuccess)="onSuccess($event)"
        (formCancel)="onCancel()"
      >
      </app-appointment-form>
    </div>
  </div>
</div>
